/*
 reset
 */
body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
    text-align: center;
}

.overflow {
	font-size: 1.5em;
	padding: .5em;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}
/*
button {
	margin: 0;
	border: 0;
	padding: .5em;
}*/

button:focus {
    outline: none;
}

.bar {
	width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #66ddbb;
    /*overflow: hidden;*/
}

.bar button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
}

.bar button:hover {
	background-color: red;
}

.bar .left {
	left: 0;
	margin-left: .5em;
}

.bar .right {
	right: 0;
	margin-right: .5em;
}

.bar ul {
    display: table;
    position: relative;
    left: 0;
    padding: 0 70px;
}

.bar li {
	padding: .5em;
	display: table-cell;
}

.bar a {
	display: block;
    padding: 1em;
	background-color: white;
}